{%- if site -%}
  {%- if site.data.about -%}
    <div id="about" class="section section-4 bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-lg-5">
            <h2 class="font-weight-bold heading text-primary mb-4">{{ site.data.about.title }}</h2>
            <p>{{ site.data.about.copy }}</p>
          </div>
        </div>
        <div class="row justify-content-between mb-5">
          <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
            <div class="img-about dots">
              <img class="img-fluid" src="{{ '/assets/img/about/about-1.jpg' | relative_url }}" alt="{{ site.data.meta.title }}">
            </div>
          </div>
          <div class="col-lg-4">
          {%- for highlight in site.data.about.highlights %}
            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="{{ 'icon-' | append: highlight.icon }}"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">{{ highlight.title }}</h3>
                <p class="text-black-50">{{ highlight.copy }}</p>
              </div>
            </div>
          {%- endfor %}
          </div>
        </div>
        <div class="row pt-5">
        {%- for card in site.data.about.cards | limit: 3 %}
          <div class="{% cycle 'col-md-4', 'col-md-4 mt-lg-5' %}" data-aos="fade-up" data-aos-delay="{{ forloop.index0 | times:100 }}">
            <img class="img-fluid" src="{{ '/assets/img/cards/card-' | append: forloop.index | append: '.jpg' | relative_url }}" alt="{{ card }}">
          </div>
        {%- endfor %}
        </div>
        <div class="row section-counter mt-5">
        {%- for counter in site.data.about.counters %}
          <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="{{ forloop.index0 | times:100 | plus:300 }}">
            <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number">
                <span class="countup text-primary">{{ counter.value }}</span>+
              </span>
              <span class="caption text-black-50">{{ counter.label }}</span>
            </div>
          </div>
        {%- endfor %}
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}
