{%- if site -%}
  {%- if site.data.hero -%}
    <div id="hero" class="hero page-inner overlay" style="background-image: url('{{ "/assets/img/hero/hero.jpg" | relative_url }}')">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">{{ site.data.hero.subtitle }}</h1>
            <a role="button" href="{{ 'tel:' | append: site.data.hero.action.href }}" class="btn btn-primary" data-aos="fade-up" data-aos-delay="200">
              <span class="icon-phone me-2"></span>{{ site.data.hero.action.label }}
            </a>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}
